body {
    margin: 0;
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #84e2a3, #329d84);
    color: #190f0f;
}


.container {
    width: 85%;
    max-width: 800px;
    margin: 40px auto;
    background: rgba(255,255,255,0.12);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}


.btn {
    display: inline-block;
    padding: 12px 22px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background: #eaeaea;
}


.question-box {
    background: rgba(255,255,255,0.25);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}


.option-btn {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: rgba(255,255,255,0.20);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: 0.3s ease;
}

.option-btn:hover {
    background: rgba(47, 194, 177, 0.35);
}

.correct {
    background: #28a745 !important;
}

.wrong {
    background: #dc3545 !important;
}


.progress-wrapper {
    width: 100%;
    height: 10px;
    background: rgba(255,255,255,0.25);
    border-radius: 50px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: #00ffbf;
    border-radius: 50px;
    transition: width 0.5s ease;
}


.timer-box {
    background: #ff6347;
    padding: 8px 15px;
    width: max-content;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}


.auth-card {
    background: rgba(255,255,255,0.18);
    padding: 30px;
    border-radius: 15px;
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 15px;
    border-radius: 10px;
    border: none;
}

.auth-btn {
    width: 100%;
    padding: 12px;
    background: #fff;
    font-weight: 700;
    color: #000;
    border-radius: 10px;
}


.leaderboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}


.leaderboard-card {
    width: 750px;
    background: white;
    padding: 25px 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    animation: fadeIn 0.5s ease-in-out;
}


.lb-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th {
    background: #0066ff;
    color: white;
    padding: 12px;
    font-size: 15px;
}

td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}


tr:nth-child(even) {
    background: #f0f4ff;
}


.rank-link {
    color: #0066ff;
    font-weight: bold;
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
